body {
    background-color: #6972ec;
    padding: 0;
    margin: 0;
}

#board {
    background: url('../images/mountain-valley.webp') no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: #ff9900;
    border: 1px solid #000;
    position: absolute;
}

.obstacle {
    position: absolute;
    background: url('../images/rock.png') no-repeat;
    background-size: cover;
    border: 0px solid #b3ff00;
}



#game-over {
    background-color: #ff9900;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#game-over h1 {
    font-size: 30vh;
    line-height: 25vh;
    color: #000;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}