body {
    background-color: #6972ec;
    padding: 0;
    margin: 0;
}

#board {
    background: url('../images/mountain-valley.webp') no-repeat right;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: #ff9900;
    border: 1px solid #000;
    position: absolute;
}